<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- <settings> -->
    <!--      <setting name="cacheEnabled" value="true"/> -->
    <!-- </settings> -->


    <typeAliases>
        <typeAlias type="com.baizhiedu.entity.User" alias="User"/>
        <typeAlias type="com.baizhiedu.entity.Account" alias="Account"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.baizhiedu.plugins.PageHelperInterceptor1">
            <property name="queryMethodPrefix" value="query"/>
            <property name="queryMethodsuffix" value="ByPage"/>
        </plugin>
        <!-- <plugin interceptor="com.baizhiedu.plugins.MyMyBatisInterceptor3"/> -->
        <!-- <plugin interceptor="com.baizhiedu.plugins.MyMyBatisInterceptor2"> -->
        <!--     <property name="testProperty" value="testValue v2.0"/> -->
        <!-- </plugin> -->
        <!-- <plugin interceptor="com.baizhiedu.plugins.MyMyBatisInterceptor"> -->
        <!--     <property name="testProperty" value="testValue v1.0"/> -->
        <!-- </plugin> -->

    </plugins>

    <!--                default =‘’  当同时配置多个数据源的时候，这里的default配置生效的配置 -->
    <!-- 默认与不默认的本质区别？  可以在每一个mapper.xml文件中指定每一个sql访问的数据库源是哪里-->
    <environments default="tencentYun">

        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/suns?allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>


        <environment id="tencentYun">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://124.220.78.148:13306/suns?allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<package name=""-->
        <mapper resource="UserDAOMapper.xml"/>
        <mapper resource="AccountDAOMapper.xml"/>
    </mappers>


</configuration>









